{% extends 'base.html.twig' %}

{% block title %}My Tunes Lib - Mes titres
{% endblock %}

{% block body %}
	<h2>Mes titres :</h2>
	<div class="song-list">
		{% if allSongs %}
			<table>
				<tr class="table-head">
					<td></td>
					<td>Titre</td>
					<td>Artiste(s)</td>
					<td>Durée</td>
				</tr>
				{% for song in allSongs %}
					<tr class="song-tr" onclick="window.location='/{{song.id}}'">
						<td>
							{% if song.getUrlCover() %}
								<img src="{{song.getUrlCover()}}" height="100px" width="100px">
							{% else %}
								<img src="{{asset('default_cover.png')}}" height="100px" width="100px">
							{% endif %}
						</td>
						<td>{{ song.title }}</td>
						<td class="artists-array">
							{% for artist in song.artists.getValues() %}
								{% if loop.index > 1 %},
								{% endif %}
								{{ artist.name }}
							{% endfor %}
						</td>
						<td>{{ utilsService.formatDuration(song.duration) }}</td>
					</tr>
				{% endfor %}
			</table>
		{% else %}
			<h1 style="color: red">Veuillez ajouter des titres pour commencer !</h1>
		{% endif %}
	</div>
{% endblock %}
